label {
    font-weight: bold;
    display: block;
}
.errorText {
    color: red;
    font-weight: bold;
}
.button-submit {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.form-control {
    width: 50%;
}
.password {
    display: inline-block;
}
.preview_img {
    width: 150px;
}
.showPasswordImage {
    width: 50px;
    margin-left: 1%;
    margin-bottom: 7px;
}